{% extends "layout.html" %}  <!-- Mantojam layout.html -->

{% block content %}

<h1>About</h1>

  <p>Genshin Impact is a 2020 action role-playing video game developed and published by miHoYo.</p>
  <p>The game features an anime-style open-world environment and an action-based battle system that uses elemental magic and character-switching. A free-to-play game monetized through gacha mechanics, Genshin Impact is updated regularly using the games as a service model.</p>
  
  <img src="{{ url_for('static', filename='images/gamepl.jpg') }}" alt="Gameplay">

  <p>Genshin Impact takes inspiration from a variety of sources, including the game The Legend of Zelda: Breath of the Wild, anime, Gnosticism, and an array of real-world cultures and mythologies.</p>
  <p>The game takes place in the fantasy world of Teyvat, home to seven nations each tied to a different element and ruled by individual gods called "Archons". The story follows the Traveler, an interstellar adventurer left separated from their twin sibling after the two land in Teyvat. Together with their guide Paimon, the Traveler journeys across the nations of Teyvat in search of their lost sibling. Along the way, the two make friends with Teyvat's people, become involved in the affairs of its nations, and unravel the mysteries of the land.</p>
    
  <img src="{{ url_for('static', filename='images/travel_piam.jpg') }}" alt="Traveler and Piamon">

  <p>Genshin Impact is an open-world video game that allows players to control one of four characters in a party. Players can quickly switch between the four characters during combat. Characters can have their abilities enhanced in various ways, mainly through gaining experience points and improving their artifacts and weapons.</p>

{% endblock %}