{% extends "layout.html" %}  <!-- Mantojam layout.html -->

{% block content %}

<h1>About</h1>

  <p>Genshin Impact is a 2020 action role-playing video game developed and published by miHoYo.</p>
  <p>The game features an anime-style open-world environment and an action-based battle system that uses elemental magic and character-switching. A free-to-play game monetized through gacha mechanics, Genshin Impact is updated regularly using the games as a service model.</p>
  
  <img src="{{ url_for('static', filename='images/gamepl.jpg') }}" alt="Gameplay">

  <p>Genshin Impact takes inspiration from a variety of sources, including the game The Legend of Zelda: Breath of the Wild, anime, Gnosticism, and an array of real-world cultures and mythologies.</p>
  <p>The game takes place in the fantasy world of Teyvat, home to seven nations each tied to a different element and ruled by individual gods called "Archons". The story follows the Traveler, an interstellar adventurer left separated from their twin sibling after the two land in Teyvat. Together with their guide Paimon, the Traveler journeys across the nations of Teyvat in search of their lost sibling. Along the way, the two make friends with Teyvat's people, become involved in the affairs of its nations, and unravel the mysteries of the land.</p>
    <thead>
    </thead>
    <tbody>
    <tr><th>Dzintaru koncertzāle</th><th>Jomas iela</th><th>Ķemeru tīreļa laipas</th></tr>
    <tr><td><img src="dzintaru.jpg" alt="Pilsētas skats" width="400" height="301"></td><td><img src="jomas.jpg" alt="Pilsētas skats" width="00"></td><td><img src="kemeru.jpg" alt="Pilsētas skats" width="400" height="301"></td></tr>
    <tr><td><a href="https://ticketstore.lv/dzintaru/">Par Dzintaru Koncertzāli</a></td><td><a href="https://www.latvia.travel/en/sight/jomas-street-jurmala">Par Jomas Ielu</a></td><td><a href="https://www.visitjurmala.lv/lv/redzi-un-dari/apskates-vietas/dabas-takas/liela-kemeru-tirela-laipa/">Par Kemeru tīreļa laipām</a></td></tr>
    </tbody>
    </table>

  <h2>Liyue</h2>
  <p>Jūrmala nav tikai jūra un priedes – tā ir pilsēta, kurā dzīvība kūsā visu gadu. Neatkarīgi no sezonas, mēs piedāvājam pasākumus, kas spēj aizraut, iedvesmot un dāvāt neaizmirstamas emocijas ikvienam viesim.</p>
    <table>
    <thead>
    </thead>
    <tbody>
    <tr><th>Nosaukums</th><th>Datums</th><th>laiks</th><th>Atrašanās vieta</th></tr>
    <tr><td>Izstāde “Bilderingshof–Bilderliņi–Bulduri”</td><td>26. oktobris, 2023 – 30. decembris, 2026</td><td>10.00–18.00</td><td>Bulduru Izstāžu namā Muižas ielā 6</td></tr>
    <tr><td>Valda Buša daiļradei un dzīvei veltīta ekspozīcija “…manas krāsas ir spilgtas, mazliet trakas…”</td><td>18. maijs, 2024 – 30. decembris, 2026 </td><td>10.00–18.00</td><td>Bulduru Izstāžu namā Muižas ielā 6</td></tr>
    <tr><td>Izstāde “Ārsts kūrortā 19. gadsimtā”.</td><td>11. decembris, 2025 – 24. maijs, 2026</td><td>10.00–18.00</td><td>Jūrmalas muzejā Tirgoņu ielā 29</td></tr>
    </tbody>
    </table>

  <h2>Inazuma</h2>
    <table>
    <thead>
    </thead>
    <tbody>
    <tr><td>Platība:</td><td>101 km^2</td></tr></td>
    <tr><td>Iedzīvotāju skaits:</td><td>59 159</td><td>(01.01.2023)</td></tr>
    <tr><td>Pludmales garums: </td><td>24,2 km</td></tr>
    <tr><td>Attālums no Rīgas centra:</td><td>25 km</td></tr>
    </tbody>
    </table>
  <img src="jurmala1.jpg" alt="Pilsētas skats" width="400">

  <h2>Sumeru</h2>

  <h2>Fontaine</h2>

  <h2>Natlan</h2>


  <h2>Nod-krai</h2>



  <h2>Sneznaya</h2>

{% endblock %}