<!DOCTYPE html>
<html lang="en">
  <head>
    
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>

    <header class = "augsa-koneineris">
        <div class = "nosaukums">
            <img src="{{ url_for('static', filename='images/gi_logo.jpg') }}" alt="Genshin Impact Logo" class="logo" >
        </div>
        <div class = "bildes-izskats">
            <img src="{{ url_for('static', filename='images/banner.jpg') }}" alt="Banner" class="bilde">
        </div>
    </header>
    <nav class="navigacija"> 
        <a href="/">Home</a>
        <a href="/about">About</a> 
        <a href="/nations">Nations</a> 
        <a href="/characters">Characters</a> 
    </nav>
      {% block content %}{% endblock %}
  </body>
</html>