{% extends "layout.html" %}  <!-- Mantojam layout.html -->

{% block content %}

<!-- mantots no mana playcode patstāvīgā darba -->
<!DOCTYPE html>
<html lang="lv">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
  <body>

  <h1>Nations</h1>

  <h2>Mondstadt</h2>
  <p>Archon: Barbatos</p>
  <p>Viss sākās ar klusiem zvejnieku ciemiem, kur priežu smarža jaucaas ar kūpinātu zivju aromātu. Taču īstā pilsētas maģija atklājās pirms vairāk nekā 150 gadiem, kad pasaule uzzināja par mūsu unikālajiem dūņu un sēra avotiem. No tālākiem un tuvākiem nostūriem šeit ieradās viesi, lai atgūtu spēkus un baudītu jūras peldes.</p>
  <img src="jurmala.jpg" alt="Pilsētas skats" width="400">

  <h2>Apskates vietas</h2>
    <table>
    <thead>
    </thead>
    <tbody>
    <tr><th>Dzintaru koncertzāle</th><th>Jomas iela</th><th>Ķemeru tīreļa laipas</th></tr>
    <tr><td><img src="dzintaru.jpg" alt="Pilsētas skats" width="400" height="301"></td><td><img src="jomas.jpg" alt="Pilsētas skats" width="00"></td><td><img src="kemeru.jpg" alt="Pilsētas skats" width="400" height="301"></td></tr>
    <tr><td><a href="https://ticketstore.lv/dzintaru/">Par Dzintaru Koncertzāli</a></td><td><a href="https://www.latvia.travel/en/sight/jomas-street-jurmala">Par Jomas Ielu</a></td><td><a href="https://www.visitjurmala.lv/lv/redzi-un-dari/apskates-vietas/dabas-takas/liela-kemeru-tirela-laipa/">Par Kemeru tīreļa laipām</a></td></tr>
    </tbody>
    </table>

  <h2>Liyue</h2>
  <p>Jūrmala nav tikai jūra un priedes – tā ir pilsēta, kurā dzīvība kūsā visu gadu. Neatkarīgi no sezonas, mēs piedāvājam pasākumus, kas spēj aizraut, iedvesmot un dāvāt neaizmirstamas emocijas ikvienam viesim.</p>
    <table>
    <thead>
    </thead>
    <tbody>
    <tr><th>Nosaukums</th><th>Datums</th><th>laiks</th><th>Atrašanās vieta</th></tr>
    <tr><td>Izstāde “Bilderingshof–Bilderliņi–Bulduri”</td><td>26. oktobris, 2023 – 30. decembris, 2026</td><td>10.00–18.00</td><td>Bulduru Izstāžu namā Muižas ielā 6</td></tr>
    <tr><td>Valda Buša daiļradei un dzīvei veltīta ekspozīcija “…manas krāsas ir spilgtas, mazliet trakas…”</td><td>18. maijs, 2024 – 30. decembris, 2026 </td><td>10.00–18.00</td><td>Bulduru Izstāžu namā Muižas ielā 6</td></tr>
    <tr><td>Izstāde “Ārsts kūrortā 19. gadsimtā”.</td><td>11. decembris, 2025 – 24. maijs, 2026</td><td>10.00–18.00</td><td>Jūrmalas muzejā Tirgoņu ielā 29</td></tr>
    </tbody>
    </table>

  <h2>Inazuma</h2>
    <table>
    <thead>
    </thead>
    <tbody>
    <tr><td>Platība:</td><td>101 km^2</td></tr></td>
    <tr><td>Iedzīvotāju skaits:</td><td>59 159</td><td>(01.01.2023)</td></tr>
    <tr><td>Pludmales garums: </td><td>24,2 km</td></tr>
    <tr><td>Attālums no Rīgas centra:</td><td>25 km</td></tr>
    </tbody>
    </table>
  <img src="jurmala1.jpg" alt="Pilsētas skats" width="400">

  <h2>Sumeru</h2>

  <h2>Fontaine</h2>

  <h2>Natlan</h2>


  <h2>Nod-krai</h2>



  <h2>Sneznaya</h2>


  </body>
</html>
{% endblock %}