{% extends "layout.html" %}  <!-- Mantojam layout.html -->

{% block content %}

<div class="wiki-container">
    <h1 class="page-main-title">Nations of Teyvat</h1>
    
    <div class="virsrakstu-saraksts">
        {% for ieraksts in saraksts %}
            {% if ieraksts.tips == 'h3' %}
                <h3 class="nacijas-virsraksts">{{ ieraksts.teksts }}</h3>
            {% elif ieraksts.tips == 'h4' %}
                <h4 class="subregions-virsraksts">{{ ieraksts.teksts }}</h4>
            {% endif %}
        {% else %}
            <p>Nekas netika atrasts. Pārbaudi savienojumu!</p>
        {% endfor %}
    </div>
</div>
{% endblock %}